[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
scikit-learn = "*"
requests = "*"
soundfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
